<% include ./partials/header.ejs %>

<div class="container text-center">
    <h3>
        <strong>
            Results of your search by actor name are here!
        </strong>
    </h3>
</div>

<% include ./partials/footer.ejs %>