<% include ./partials/header.ejs %>

    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid text-center">
        <div class="container">
        <h1 class="display-4">Movie Database</h1>
        <p class="lead">A one stop shop for all movie enthusiasts.</p>
        </div>
    </div>

    <!-- Search options -->
    <div class="container text-center">
        <div class="secondary-heading">
            <small>
                <h2>
                    <strong>Search About A Movie</strong>
                </h2>
            </small>
        </div>
        <div class="mt-3">
            <a href="/search-movie-name" class="btn btn-primary">Search by Movie Name</a>
            <a href="/search-actor-name" class="btn btn-primary">Search by Actor Name</a>
            <a href="/search-director-name" class="btn btn-primary">Search by Director Name</a>
            <a href="/search-production-company" class="btn btn-primary">Search by Production Company</a>
        </div>
    </div>

    <!-- Submit options -->
    <div class="container text-center mt-5">
        <div class="secondary-heading">
            <small>
                <h2>
                    <strong>Submit about A movie</strong>
                </h2>
            </small>
            <p>
                Couldn't find details about your favourite movie? Help us expand our database by providing the details!
            </p>
        </div>
        <div>
            <a href="#" class="btn btn-primary">Search by Movie Name</a>
        </div>
    </div>
<% include ./partials/footer.ejs %>