<% include ./partials/header.ejs %>

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid text-center">
    <div class="container">
    <h1 class="display-4">Movie Database</h1>
    <p class="lead">A one stop shop for all movie enthusiasts.</p>
    </div>
</div>

<div class="container">
    <% for(let i = 0; i < data.length; i++) { %>
        <span><%= data[i].title %> --- <%= data[i].plot %></span>
        <br>
    <% } %>
</div>

<% include ./partials/footer.ejs %>